.profile-location
  span 关于我们
  em &gt;
  span= pageNameZh
.profile-nav
  a.item(href="profile.html" class={on: pageNameEn == 'profile'})
    span 公司简介
  a.item(href="history.html" class={on: pageNameEn == 'history'})
    span(class="") 企业历程
  a.item(href="team.html" class={on: pageNameEn == 'team'})
    span(class="") 团队资料
  a.item(href="contactus.html" class={on: pageNameEn == 'contactus'})
    span(class="") 联系我们
